<h1>Route Module practive</h1>

<h3>Admin pages</h3>
<ul>
  <li>
    <a routerLink="admin/login">Login</a>
  </li>
  <li>
    <a routerLink="admin/list" >List</a>
  </li>
</ul>

<h3>User pages</h3>
<ul>
  <li>
    <a routerLink="users/login">Login</a>
  </li>
  <li>
    <a routerLink="users/list" >List</a>
  </li>
</ul>

<h3>Lazy-admin loading link</h3>
<ul>
  <li>
    <a routerLink="lazy/login">Login</a>
  </li>
  <li>
    <a routerLink="lazy/list" >List</a>
  </li>
</ul>

<h3>Lazy-user loading link</h3>
<ul>
  <li>
    <a routerLink="lazy-user/login">Login</a>
  </li>
  <li>
    <a routerLink="lazy-user/list" >List</a>
  </li>
</ul>

<button (click)="loadAdmin()">Load Admin List</button>
<button (click)="loadUser()">Load User List</button>

<router-outlet></router-outlet>




<!-- <a routerLink="login">Login</a>
<br>
<a routerLink="list" >List</a>

<router-outlet></router-outlet> -->
